.DS_Store
.vscode/
.idea/

__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.so

.env
*.env

db.sqlite3

venv/
env/
.venv/

staticfiles/
media/

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
expo/

.expo/
.expo-shared/
dist/
web-build/
.expo-packager/

.packager/
.expo-bundle/
.expo-cache/
.expo/web/

ios/
android/

pg_data/
docker-data/

*.log
logs/